@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Variables for Theme Colors */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --muted-foreground: #6b7280;
  --primary: #ffa500;
  --border: #e5e7eb;
}

/* Dark Mode Variables */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --muted-foreground: #6b7280;
    --primary: #ffa500;
    --border: #e5e7eb;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }

  body {
    @apply bg-white text-black dark:bg-black dark:text-white; /* Apply Tailwind defaults */
  }
}
